extends layouts/common

block content
       
    .col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h2.h2= pageTitle
            .btn-toolbar.mb-2.mb-md-0
                .btn-group.mr-2
                button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button') Trạm

        canvas#myChart.my-4.w-100(width='900', height='380')

        h2 Bảng thống kê dữ liệu
        .table-responsive
            table.table.table-striped
                thead
                tr
                    th Date
                    th Time
                    th Water level
                tbody
                    each data in datas
                        tr.p-5
                            td= data.date
                            td= data.time
                            td= data.waterLevel
block  test
    script.
        (function() {
        var time = [];
        
        feather.replace();
        // Graphs
        var ctx = document.getElementById('myChart')
        // eslint-disable-next-line no-unused-vars
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday'
        ],
        datasets: [{
        data: [
        15339,
        21345,
        18483,
        24003,
        23489,
        24092,
        12034
        ],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
        }]
        },
        options: {
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: false
        }
        }]
        },
        legend: {
        display: false
        }
        }
        })
        }())                  
               

